.castList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.castList li {
  display: flex;
  gap: 15px;
  width: 250px;
  height: 150px;
}

.castList img {
  width: 90px;
  height: 150px;
}

.imageDiv {
  min-width: 90px;
  height: 150px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.castList p {
  color: black;
  font-size: 17px;
  margin: 0;
}

.castNameDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.castNameP {
  font-weight: 700;
}

.castCharacterP {
  font-style: italic;
}
